#current-song-border{
    width:820px;
    height:50px;
    padding-left:100px;          
    border-radius:25px 25px 25px 25px;
    border-width:2px;
    background-color:#000034; 

}
#fa-music{
    color:white;
    position:absolute;
    left:10px;
    top:10px;
    left:28px;
}
#song-title{
    position:absolute;    
    color:white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:25px;
    margin-top:0.5%;
    font-weight: bold;    
    width:540px;
    white-space: nowrap;
}
#prev-song{
    position: absolute;
    color:white;
    top:10px;
    right:115px;
}
#next-song{
    position: absolute;
    color:white;
    top:10px;
    right:25px;
}