.td-list-pos{               
    position:relative; 
    top:0%;
    margin-left:10%;
    width:auto;
    height:auto;
}
#task-title{
    font-size:30px;
    font-weight: bold;
    margin-left:100px;  
    position:fixed;
    top:20px
}