#profile-section-container{
    width:80%;    
    height:8%;
    position:relative;
    left:12%;
}
.inline-disp{    
    display:inline-block;
}
.avatar{
    border-radius:50%;
    width:8.5rem;
    height:8.5rem;
    margin-right:2.5rem;
}

.desc{
    width:8rem;
    height:3rem;
}
.welcomeTxt{
    position:absolute;
    top:5%;
    font-size:30px;   
}
.usernameTxt{
    font-size:30px;
    position:absolute;
    top:50%;
    color:#00034;
    font-weight:bold;
}
.user-controls{
    position:absolute;
    height:auto;
    right:0%;
    top:10%;
    justify-content:right;
}
.user-control{
    margin-top:2px;    
}
.edit-profile-btn{
    position:absolute;
    right:0px;
}