#stopbtn-div{   
    color:white;         
    background-color: #b20000;
    left:0;
    width:60px;
    height:60px;
    border-radius:50%;
    transition: transform 0.5s, opacity 0.5s; /*animation when the mouse is NOT HOVERED.*/
}
#fa-stop-btn{
    position:absolute;
    top:10px;
    left:10px;
    
}

#hidden-text{
    
    left:80px; 
    color:black;
}

#stopbtn-div:hover{     
    border-width:1px;
    border-color:#000034;    
    width:150px;
    left:-100px;    
    height:60px;
    border-radius:20px 20px 20px 20px;
    transform: translateX(-60%); /*Moves the button to the left by 60%*/
    transition: transform 0.5s, opacity 0.5s; /*Smoothens the transition*/
}