#edit-profile-btn-container{
    width:12.8rem;
    height:3rem;
    border-radius: 25px;
    background-color:#010194;
    color:white;
    justify-content:center;
    padding:10px;
    text-align:center;
    cursor:default;
    font-weight:bold;
}
#edit-profile-btn-container:active{
    background-color:#000034
}

.inline{
    display:inline-block;    
}
.icon-container{
    width:30px;
    height:30px;    
    position:absolute;    
    left:10%;    
    top:20%;
}
.label-container{
    position:absolute;
    right:12%;    
    top:28%;
}


