.all-songs-list{
    width:100%;    
    height:80%;
    position:absolute;
    top:14%;
    margin:0 auto;
    overflow-y:scroll;
    
}
/* width */
.all-songs-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.all-songs-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
.all-songs-list::-webkit-scrollbar-thumb {
    background: #000034;
    border-radius: 25px;
  }
  
  /* Handle on hover */
.all-songs-list  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.list-item{
    position:relative;
    width:100%;
    height:50%;
}
.thumbnail{
    width:280px;
    height:180px;
    border-radius:25px;
    border-width:1px;
    position:absolute;
    left:16%;
}


.index{
    position:absolute;
    font-size:38px;
    width:60px;
    height:60px;    
    top:25%;
    left:5%;
    text-align:center;    
    font-weight:bold;
    border-radius:30px;
    border-width:1px;
    background-color:#000034;
    color:white;
    
}
.song-info{
    width:35%;
    height:25%;    
    margin-right:8%;   
    position:absolute;
    right:5%;
    
    
}
.song-title{
    position:absolute;
    color:#000034;
    font-weight:bold;
    width:100%;
    display:block;
    font-size:26px;
}
.song-duration{
    position:absolute;
    font-size:30px;
    display:block;
    top:200%;
}
.three-dot-menu{
    position:absolute;
    right:2%;
    top:25%;    
}
.dropdown-container{
    background-color:white;    
    position:absolute;
    border-color:#000034;
    border-width:1px;
    left:-10.5rem;
    top:3rem;
    width:200px;
    height:90px;   
    padding-left:0.5rem;
    padding-top:0.6rem;
    border-radius:25px;    
    cursor:default;
}
.option-container{
    width:100%;
    height:20%;
    margin-bottom:12%;
    
}
.option-icon{
    display:inline-block;
}
.option-txt{
    display:inline-block;
    margin-left:5%;
    padding-top:0px;    
    font-size:18px;
}
.delete{
    color:rgb(150, 11, 11)
}