.navbar-container{
    width:100%;    
    left:12%;
    right:0%;    
    
    height:10%;    
    
}
.navbar-item{
    display:inline-block;
    padding:1% 10%;
    cursor:default;
    font-size:165%;    
}
.navbar-item.active{
    background-color: #000034;
    color:white;
    border-radius:40px;
        
}
