.navbar-container{
    width:100%;    
    left:12%;
    right:0%;    
    
    height:10%;    
    
}
.navbar-item{
    width:30%;
    display:inline-block;
    padding:1% 6.5%;
    cursor:default;
    font-size:165%;    
    font-weight:bold;
    position:relative;
}
.fa-icon{
    display:inline-block;
    margin-right:15%;
}
.navbar-item.active{
    background-color: #000034;
    color:white;
    border-radius:40px;
    font-weight:normal;
        
}
.hor-navbar-txt{
    position:absolute;
    right:30%;
    top:20%;
}