
  
  .option{
    float:left;
    padding-left:10px;
    margin-right:10px;
    cursor: pointer;
  }
  .option.active {
    border-radius: 25px;
    background-color: navy;
    padding-right:8px;
    color:white
  }

.todo-title{
  font-size:30px;
  margin-top:20px;
}
  .music-content{
    width:180px;        
    overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
    font-size:20px;
    display:inline-block;
   
  } 
  .music-status{
    margin-left:80px;
    vertical-align: right;
    width:30px;    
    display:inline-block;
  }
 .search-icon{
  position:absolute;
  display: inline-block;  
  
  left:40px;
  top:20px;
  
 }
  
  .musiclist-item{  
    margin-left:10px;
    font-size:25px;
  }
  .music-list-wrapper {
    width: 1005px;
    height:400px;
    background: #fff;
    margin-top:120px;    
    border-radius: 7px;
    padding: 28px 0 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar {        
    position:relative;
    height: 52px;
    padding: 0 25px;
    font-family: 'Roboto', sans-serif;
  }
  .input-icon{
    position: absolute;
    top:22%;
    left:10%;
    float:left;
  }
  
  .search-bar ion-icon {
    position: absolute;
    top: 50%;
    color: #999;
    font-size: 25px;
    transform: translate(17px, -50%);
  }
  
  .search-bar input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 1px solid #999;
  }
  
  .search-bar input:focus,
  .search-bar input.active {
    padding-left: 52px;
    border: 2px solid #f12711;
  }
  
  .search-bar input::placeholder {
    color: #bfbfbf;
  }
  
  .controls,
  li {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
  }
  
  .controls {
    padding: 18px 25px;    
    border-bottom: 1px solid #ccc;
  }
  
  .filters span {
    margin: 0 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
  }
  
  .filters span:first-child {
    margin-left: 0;
  }
  
  .filters span.active {
    color: #f12711;
  }
  
  .clear-btn {
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    background: linear-gradient(111.8deg, rgb(0, 104, 155) 19.8%, rgb(0, 173, 239) 92.1%);
  }
  
  .clear-btn.active {
    opacity: 0.9;
    pointer-events: auto;
  }
  
  .clear-btn:active {
    transform: scale(0.93);
  }
  
  .music-box {
    margin-top: 20px;    
    overflow-y:scroll;
    overflow-x:hidden;
    margin-right:15px;    
    max-height:200px;    
    padding: 0 20px 10px 25px;    
  }
  
  .music-box.overflow {
    overflow-y: auto;
    max-height: 300px;
  }
  
  .music-box::-webkit-scrollbar {
    width: 5px;
  }
  
  .music-box::-webkit-scrollbar-track {
    background: white;    
    border-radius: 25px;
  }
  
  .music-box::-webkit-scrollbar-thumb {
    background: navy;
    border-radius: 25px;
  }
  
  .music-box .music {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
  }
  
  .music-box .music:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
  
  .music-box .music label {
    display: flex;
    align-items: flex-start;
  }
  
  .music label input {
    margin-top: 7px;
    accent-color: #f12711;
  }
  
  .music label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
  }
  
  .music label p.checked {
    text-decoration: line-through;
  }
  
  .music-box .settings {
    position: relative;
  }
  
  .settings :where(i, li) {
    cursor: pointer;
  }
  
  .settings .music-menu {
    position: absolute;
    right: -5px;
    bottom: -65px;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    z-index: 10;
  }
  
  .music-box .music:last-child .music-menu {
    bottom: 0;
    transform-origin: bottom right;
  }
  
  .music-box .music:first-child .music-menu {
    bottom: -65px;
    transform-origin: top right;
  }
  
  .music-menu.show {
    transform: scale(1);
  }
  
  .music-menu li {
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    justify-content: flex-start;
  }
  
  .music-menu li:last-child {
    margin-bottom: 0;
  }
  
  .settings li:hover {
    background: #f5f5f5;
  }
  
  .settings li i {
    padding-right: 8px;
  }
  
  @media (max-width: 400px) {
    body {
      padding: 0 10px;
    }
    .wrapper {
      padding: 20px 0;
    }
    .filters span {
      margin: 0 5px;
    }
    .search-bar {
      padding: 0 20px;
    }
    .controls {
      padding: 18px 20px;
    }
    .music-box {
      margin-top: 20px;
      margin-right: 5px;
      padding: 0 15px 10px 20px;
    }
    .music label input {
      margin-top: 4px;
    }
  }
  