#song-details-container{
 
}
.sub-details-container{       
    position:relative;
    display:block;
    width:380px;
    height:100px;    
    margin-bottom:5%;
    margin-left:2%;
}
.video-details-title{
    font-size:30px;
    top:0%;
    position:absolute
}
.video-details-content{
    font-weight:bold;
    font-size:20px;    
    display: -webkit-box;
    max-width: 500px;
    top: 50%;
    position:absolute;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#video-thumbnail{
    display:inline-block;
    position:absolute;
    top:10%;
    right: 8%;    
   
   width:300px;
   object-fit:cover;
    border-radius:50%;
}