
  
  .option{
    float:left;
    padding-left:10px;
    margin-right:10px;
    cursor: pointer;
    font-size:20px;
  }
  .option.active {
    border-radius: 25px;
    text-decoration:underline;
    color:#000034;
    padding-right:8px;
    font-size:20px;
    font-weight:bold;    
  }





  .task-content{
    width:85%;        
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    font-size:23px;   
    font-weight:bold; 
    display:inline-block;   
    color:#000034;
    margin-left:10%;
  } 
  .task-status{
    width:30px;
    height:30px;
    border-color:#000034;
    border-width:1px;
    margin-top:0.8%;
    border-radius:25px;
    position:absolute;
    top:1%;    
    left:2%;
    width:30px;    
    display:inline-block;
    
  }
  .delete-task-btn{
    display:inline-block;
    position:absolute;
    right:2%;
  }
  .task-container{
    position:relative;
    width:1005px;
    height:auto;
    border-color:#000034;
    border-width:2px;
    margin-bottom:20px;
    border-radius:18px;
    padding:6px 15px;
    

  }
  .tasklist-item{  
    margin-right:10px;
    
  }
  .to-do-list-wrapper {        
    
    width: 1005px;
    height:20rem;
    border-radius: 7px;
    margin-top:1.5%;    
  }
  
  
  .task-input {        
    position:fixed;        
    margin-bottom:10%;
    top:12%;
    height: 52px;
    padding: 0 25px;
    border-radius:25px;    
    width:1000px;    
    font-family: 'Roboto', sans-serif;
  }
  .input-icon{
    position: absolute;
    top:22%;
    left:10%;
    float:left;
  }
  
  .task-input ion-icon {
    position: absolute;
    top: 50%;
    color: #999;
    font-size: 25px;
    transform: translate(17px, -50%);
  }
 
  .task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    padding: 0 20px 0 53px;
    border: 1px solid #999;
    
  }
  
  .task-input input:focus,
  .task-input input.active {
    padding-left: 52px;
    border: 2px solid #f12711;
  }
  
  .task-input input::placeholder {
    color: #000034;
  }
  
  .controls,
  li {
    display: flex;
    position:relative;
    align-items: center;
    justify-content: space-between;
  }
  
  .controls {
    padding: 12px 25px;    
    border-bottom: 1px solid #ccc;
  }
  
  .filters span {
    margin: 0 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
  }
  
  .filters span:first-child {
    margin-left: 0;
  }
  
  .filters span.active {
    color: #f12711;
  }
  

#sub-function-container{
  position:relative;  
  height:3.2rem;
  width:20rem;  
  text-align:right;
}
.function-icon{  
  max-width:50px;
  max-height:50px;
  padding:11px;
  border-radius:25px;
  background-color:#000034;
  color:white;      
  margin-left:10px;  
  margin-right:10px;  
  
  display:inline-block;  
}
#save-all-icon:hover{
  background-color:blue;
}
#save-all-icon:active{
  background-color:rgb(0, 0, 88);
}

#delete-all-icon:hover{  
  background-color:rgba(222, 12, 12, 0.854)
}
#delete-all-icon:active{
  background-color:rgba(123, 8, 8, 0.854)
}
  
  .task-box {
    margin-top: 20px;    
    overflow-y:scroll;
    overflow-x:hidden;
    margin-right:15px;    
    max-height:100%;    
    padding: 0 20px 10px 35px;    
  }
  
  .task-box.overflow {
    overflow-y: auto;
    max-height: 300px;
  }
  
  .task-box::-webkit-scrollbar {
    width: 5px;
  }
  
  .task-box::-webkit-scrollbar-track {
    background: white;    
    border-radius: 25px;
  }
  
  .task-box::-webkit-scrollbar-thumb {
    background: navy;
    border-radius: 25px;
  }
  
  .task-box .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
  }
  
  .task-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
  
  .task-box .task label {
    display: flex;
    align-items: flex-start;
  }
  
  .task label input {
    margin-top: 7px;
    accent-color: #f12711;
  }
  
  .task label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
  }
  
  .task label p.checked {
    text-decoration: line-through;
  }
  
  .task-box .settings {
    position: relative;
  }
  
  .settings :where(i, li) {
    cursor: pointer;
  }
  
  .settings .task-menu {
    position: absolute;
    right: -5px;
    bottom: -65px;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    z-index: 10;
  }
  
  .task-box .task:last-child .task-menu {
    bottom: 0;
    transform-origin: bottom right;
  }
  
  .task-box .task:first-child .task-menu {
    bottom: -65px;
    transform-origin: top right;
  }
  
  .task-menu.show {
    transform: scale(1);
  }
  
  .task-menu li {
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    justify-content: flex-start;
  }
  
  .task-menu li:last-child {
    margin-bottom: 0;
  }
  
  .settings li:hover {
    background: #f5f5f5;
  }
  
  .settings li i {
    padding-right: 8px;
  }
  
  @media (max-width: 400px) {
    body {
      padding: 0 10px;
    }
    .wrapper {
      padding: 20px 0;
    }
    .filters span {
      margin: 0 5px;
    }
    .task-input {
      padding: 0 20px;
    }
    .controls {
      padding: 18px 20px;
    }
    .task-box {
      margin-top: 20px;
      margin-right: 5px;
      padding: 0 15px 10px 20px;
    }
    .task label input {
      margin-top: 4px;
    }
  }
  